body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font: size 50px ;
}
h2{
    font-size: 40px;
}
p{
    color: gray;
}
.name-highlight{
   color: orange; 
}
.half-width{
 width: 30%;
 float: left;
 margin: 5%;
 padding: 2%; 
}
.link-button{
   text-decoration: none;
   background-color: orange;
   padding: 10px 20px;
   border-radius: 5px;
   color: white;
   font-weight: 700;
}
.single-experience{
   box-shadow: 10px 10px 40px gray;
   border-radius: 10px; 
   height: 400px;
}
#full-stack{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;  
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}